*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    color: black;
}

.info-addres-top-day{
    display: flex;
    background-color: #e6e4e4;
    justify-content:space-between;
    font-size: 15px;
    padding: 0.2em;   
}

.menu{
    display: flex;
    text-decoration: none;
    background-color: #9BE6F7;
    justify-content:space-between;
}

.item1{
    margin-left: 1em;
    text-align: center;
}








