*{
    box-sizing: border-box;
}

body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    color: #222222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width:  100%;
}


/*Superinfo*/

.superinfo-bg{
    background: #122ab2;
    color: white;
}

.superinfo{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo p, .superinfo a{
    margin: 0 10px 10px 10px;
}

.superinfo a{
    color: white;
}

/*menu*/

.menu-bg{
    background: #2c70ff;
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu .nav-bar a{
    font-size: 1em;
    color: white;
    margin: 7px;
}

.nav-bar a:hover{
    color: #122ab2;
}

/*introdução*/


.intro{
    font-size: 5em;
    max-width: 960px;
    margin: 10px auto;
    padding-top: 1em;
    
}

.intro-text{
    font-size: 1.25em;
    line-height: 0;
    max-width: 960px;
    margin: 10px auto;
    padding-bottom: 1em;
    color: #7c7c7c;
}

/*Sobre*/

.sobre{
    border-top: 2px solid #2c70ff; 
    border-bottom: 2px solid #2c70ff;
    max-width: 960px;
    margin: 10px auto;
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    flex: 2 1 300px;
    margin: 0 10px;
}

.si-h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 0.2em;
}

.si-p{
    font-size: 1.5;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 1em;  
    color: #7c7c7c;
}

.sobre-img{
    flex: 1 1 160px;
    margin: 0 10px;
}

/*Produtos*/

.produtos{
    max-width: 960px;
    margin: 10px auto;
    border-bottom: 2px solid #2c70ff;
}

.pdt-h1{
    font-size: 3em;
    text-align: center;
    padding-top: 2em;    
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item{
    flex: 1 1 175px;
    margin: 10px;
}  

.produtos-item h2{
    font-size: 3em;
    color:#a4a4a4;
    background: #f7f7f7;
    padding: 60px 20px;
}

.purple{
    border-top: 8px solid #ae81ff ;
}

.red{
    border-top: 8px solid #f9265e ;
}

.blue{
    border-top: 8px solid #66d9eb ;
}